<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mayowa Tudonu</a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a title="Blog" href="/">Blog</a>
                </li>

                <!--<li>
                    <a title="Projects" href="/projects.html">Projects</a>
                </li>

                <li>
                    <a title="Talks" href="/talks.html">Talks</a>
                </li>

                <li>
                    <a title="Papers" href="/papers.html">Papers</a>
                </li>-->

                <li>
                    <a title="About" href="/about.html">About</a>
                </li>

            </ul>
        </div>

        <div class="avatar-container">
            <div class="avatar-img-border">

                <a title="Mayowa Tudonu" href="/">
                    <img class="avatar-img" src="{{'/assets/img/mayowa.jpeg' | relative_url}}" alt="Mayowa Tudonu" />
                </a>

            </div>
        </div>

    </div>
</nav>