---
layout: post-default
---

<div class="article">

    <h1 class="post-title" style="font-size: 70px">{{ page.title }}</h1>

    <p class="post-meta">
        Posted on {{page.date|date:"%b %d, %Y"}} &nbsp;&bull;&nbsp;
        <!-- <a href=""> --><span class="label label-default" style="background-color: #337ab7;">{{ page.subject }}</span> <!--</a>-->
        <!-- <a href=""> --><span class="label label-default" style="background-color: #337ab7;">{{ page.topic }}</span> <!--</a>-->
    </p>
    <div class="post-entry">
        {{ page.content}}
    </div>
</div>