<!DOCTYPE html>
<html lang="en">

{%
include head.html
title=page.title
excerpt=page.excerpt
permalink=page.permalink
image=page.image
%}

<header class="header-section ">
    <div class="intro-header no-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading" style="margin: 70px">

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<body>

{% include navigation.html %}

<div role="main" class="container">
    <div class="row"> {{page.date}}
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ content}}
        </div>

    </div>
</div>
{% include footer.html %}

{% include scripts.html %}

</body>


</html>